<!-- =========================================================================================
  File Name: AddNewDataSidebar.vue
  Description: Add New Data - Sidebar component
========================================================================================== -->

<template>
    <vs-sidebar click-not-close position-right parent="body" default-index="1" color="primary"
        class="add-new-data-sidebar items-no-padding" spacer v-model="isSidebarActiveLocal">
        <div class="mt-6 flex items-center justify-between px-6">
            <h4>{{ Object.entries(this.data).length === 0 ? $t('AddNew', { attribute: $t('User') }) : $t('Updata', { attribute: $t('User') }) }}
            </h4>
            <feather-icon icon="XIcon" @click.stop="isSidebarActiveLocal = false" class="cursor-pointer"></feather-icon>
        </div>
        <vs-divider class="mb-0"></vs-divider>

        <ValidationObserver v-slot="{ handleSubmit, invalid }">
            <form @submit.prevent="handleSubmit(submitData)">
                <VuePerfectScrollbar class="scroll-area--data-list-add-new" :settings="settings" :key="$vs.rtl">



                    <div class="p-6">
                         <vs-alert class="mb-6" :active="serverErrors.length > 0" v-for="(item, index) in serverErrors"
                            :key="index" color="danger" icon-pack="feather" icon="icon-info">
                            <span>{{item[0]}}</span>
                        </vs-alert>
                        <!-- NAME -->
                        <ValidationProvider tag="div" class="mb-6" name="name" rules="required" v-slot="{ errors }">
                            <vs-input :label="$t('Name')" v-model="name" class="w-full" name="item-name" />
                            <span class="text-danger text-sm">{{ errors[0] }}</span>
                        </ValidationProvider>

                        <!-- Email -->
                        <ValidationProvider tag="div" class="mb-6" name="email" rules="required|email"
                            v-slot="{ errors }">
                            <vs-input :label="$t('Email')" v-model="email" class="w-full" type="email"
                                name="item-email" />
                            <span class="text-danger text-sm">{{ errors[0] }}</span>
                        </ValidationProvider>

                        <!-- Password -->
                        <ValidationProvider tag="div" class="mb-6" name="password" rules="required|min:6"
                            v-slot="{ errors }">
                            <vs-input :label="$t('Password')" v-model="password" type="password" class="w-full"
                                name="item-password" />
                            <span class="text-danger text-sm">{{ errors[0] }}</span>
                        </ValidationProvider>
                        <ValidationProvider tag="div" class="mb-6" name="Roles" rules="required|min:6"
                            v-slot="{ errors }">
                            <vs-select v-model="Roles" autocomplete class="w-full select-large"
                                label="Roles">
                                <vs-select-item :key="index" :value="item.value" :text="item.text"
                                    v-for="(item, index) in Roles_options" class="w-full" />
                            </vs-select>
                        </ValidationProvider>

                    </div>

                </VuePerfectScrollbar>

                <div class="flex flex-wrap items-center p-6" slot="footer">
                    <vs-button class="mr-6" @click="submitData" :disabled="invalid">{{$t('Submit')}}</vs-button>
                    <vs-button type="border" color="danger" @click="isSidebarActiveLocal = false">{{$t('Cancel')}}
                    </vs-button>
                </div>


            </form>
        </ValidationObserver>

    </vs-sidebar>
</template>

<script>
    import VuePerfectScrollbar from 'vue-perfect-scrollbar'
    import moduleUser from "@/store/user/moduleUser.js"

    export default {
        props: {
            isSidebarActive: {
                type: Boolean,
                required: true
            },
            data: {
                type: Object,
                default: () => {},
            }
        },
        watch: {
            isSidebarActive(val) {
                if (!val) return
                if (Object.entries(this.data).length === 0) {
                    this.initValues()
                } else {
                    let {
                        id,
                        name,
                        email,
                    } = JSON.parse(JSON.stringify(this.data))
                    this.id = id
                    this.name = name
                    this.email = email
                    // this.dataAccounts = accounts_count
                    this.initValues()
                }
                // Object.entries(this.data).length === 0 ? this.initValues() : { this.id, this.name, this.dataCategory, this.dataOrder_status, this.dataPrice } = JSON.parse(JSON.stringify(this.data))
            }
        },
        data() {
            return {
                serverErrors:[],
                Roles:"",
               Roles_options:[
                   {
                     value:"sdvbg",
                     text:"hmdfgb",  
                   }
                   ],
                id: null,
                name: "",
                email: null,
                password: null,
                isMounted: false,
                settings: { // perfectscrollbar settings
                    maxScrollbarLength: 60,
                    wheelSpeed: .60,
                },
            }
        },
        computed: {
            isSidebarActiveLocal: {
                get() {
                    return this.isSidebarActive
                },
                set(val) {
                    if (!val) {
                        this.$emit('closeSidebar')
                        this.initValues()
                    }
                }
            },
            users() {
                return this.$store.state.user.userCreate
            },
        },
        methods: {
            initValues() {
                if (this.data.id) return
                this.id = null
                this.name = null
                this.email = null
                this.password = null
            },
            submitData() {
                const obj = {
                    id: this.id,
                    name: this.name,
                    email: this.email,
                    password: this.password,
                }

                if (this.id !== null && this.id >= 0) {
                    this.$store.dispatch("user/updateItem", obj)   
                       .then(res => {
                        this.$emit('closeSidebar')
                    })
                    .catch(err => {
                        this.serverErrors = Object.values(err.response.data.errors)
                    })
                } else {
                    delete obj.id
                    this.$store.dispatch("user/addItem", obj)    
                      .then(res => {
                        this.$emit('closeSidebar')
                    })
                    .catch(err => {
                        this.serverErrors = Object.values(err.response.data.errors)
                    })
                }

              
                this.initValues()
                this.$store.dispatch("user/fetchDataListItems")
            },
        },
        components: {
            VuePerfectScrollbar,
        },
        created() {
            // if (!moduleUser.isRegistered) {
            //     this.$store.registerModule('user', moduleUser)
            //     moduleUser.isRegistered = true
            // }
        },
        mounted() {
            this.isMounted = true
            // this.$store.dispatch("user/createUserItems")

        }
    }

</script>

<style lang="scss" scoped>
    .add-new-data-sidebar {
        ::v-deep .vs-sidebar--background {
            z-index: 52010;
        }

        ::v-deep .vs-sidebar {
            z-index: 52010;
            width: 400px;
            max-width: 90vw;

            .img-upload {
                margin-top: 2rem;

                .con-img-upload {
                    padding: 0;
                }

                .con-input-upload {
                    width: 100%;
                    margin: 0;
                }
            }
        }
    }

    .scroll-area--data-list-add-new {
        // height: calc(var(--vh, 1vh) * 100 - 4.3rem);
        height: calc(var(--vh, 1vh) * 100 - 16px - 45px - 82px);
    }

</style>
