<!-- =========================================================================================
  File Name: AddNewDataSidebar.vue
  Description: Add New Data - Sidebar component
========================================================================================== -->

<template>
    <vs-sidebar click-not-close position-right parent="body" default-index="1" color="primary"
        class="add-new-data-sidebar items-no-padding" spacer v-model="isSidebarActiveLocal">
        <div class="mt-6 flex items-center justify-between px-6">
            <h4>{{ Object.entries(this.data).length === 0 ?  $t("AddNew", { attribute: $t('Account') }) : $t("Update", { attribute: $t('Account') })}}
            </h4>
            <feather-icon icon="XIcon" @click.stop="isSidebarActiveLocal = false" class="cursor-pointer"></feather-icon>
        </div>
        <vs-divider class="mb-0"></vs-divider>

        <ValidationObserver v-slot="{ handleSubmit, invalid }">
            <form @submit.prevent="handleSubmit(submitData)">
                <VuePerfectScrollbar class="scroll-area--data-list-add-new" :settings="settings" :key="$vs.rtl">
                    <div class="p-4">

                        <vs-alert class="mb-6" :active="serverErrors.length > 0" v-for="(item, index) in serverErrors"
                            :key="index" color="danger" icon-pack="feather" icon="icon-info">
                            <span>{{item[0]}}</span>
                        </vs-alert>


                        <!-- NAME -->
                        <ValidationProvider name="name" rules="required" v-slot="{ errors }" tag="div" class="mb-6">
                            <vs-input :label="$t('Name')" v-model="dataName" class=" w-full" name="item-name" />
                            <span class="text-danger text-sm">{{ errors[0] }}</span>
                        </ValidationProvider>


                        <!-- Number -->
                        <ValidationProvider name="number" rules="required|numeric" v-slot="{ errors }" tag="div"
                            class="mb-6">
                            <vs-input :label="$t('Number')" v-model="dataNumber" class="w-full" name="item-number" />
                            <span class="text-danger text-sm">{{ errors[0] }}</span>
                        </ValidationProvider>




                        <!-- Bank -->
                        <ValidationProvider name="banks" rules="required|numeric" v-slot="{ errors }" tag="div"
                            class="mb-6">
                            <vs-select v-model="dataBankId" autocomplete :label="$t('Banks')" class="w-full"
                                name="item-bank">
                                <vs-select-item :key="item.id" :value="item.id" :text="item.name"
                                    v-for="item in banks" />
                            </vs-select>
                            <span class="text-danger text-sm">{{ errors[0] }}</span>
                        </ValidationProvider>



                    </div>
                </VuePerfectScrollbar>
                <div class="flex flex-wrap items-center p-6" slot="footer">
                    <vs-button class="mr-6" @click="submitData" :disabled="invalid">{{$t('Submit')}}</vs-button>
                    <vs-button type="border" color="danger" @click="isSidebarActiveLocal = false">{{$t('Cancel')}}
                    </vs-button>
                </div>

            </form>
        </ValidationObserver>

    </vs-sidebar>
</template>

<script>
    import VuePerfectScrollbar from 'vue-perfect-scrollbar'
    import moduleBankAccount from "@/store/bank-account/moduleBankAccount.js"

    export default {
        props: {
            isSidebarActive: {
                type: Boolean,
                required: true
            },
            data: {
                type: Object,
                default: () => {},
            }
        },
        watch: {
            isSidebarActive(val) {
                if (!val) return
                if (Object.entries(this.data).length === 0) {
                    this.initValues()
                } else {
                    let {
                        id,
                        name,
                        number,
                        bank_id
                    } = JSON.parse(JSON.stringify(this.data))
                    this.dataId = id
                    this.dataName = name
                    this.dataNumber = number
                    this.dataBankId = bank_id
                    this.initValues()
                }
                // Object.entries(this.data).length === 0 ? this.initValues() : { this.dataId, this.dataName, this.dataCategory, this.dataOrder_status, this.dataPrice } = JSON.parse(JSON.stringify(this.data))
            }
        },
        data() {
            return {
                serverErrors:[],
                dataId: null,
                dataName: "",
                dataNumber: null,
                dataBankId: null,
                isMounted: false,
                settings: { // perfectscrollbar settings
                    maxScrollbarLength: 60,
                    wheelSpeed: .60,
                },
            }
        },
        computed: {
            isSidebarActiveLocal: {
                get() {
                    return this.isSidebarActive
                },
                set(val) {
                    if (!val) {
                        this.$emit('closeSidebar')
                        this.initValues()
                    }
                }
            },
            banks() {
                return this.$store.state.bankAccount.bankAccountCreate
            },
        },
        methods: {
            initValues() {
                if (this.data.id) return
                this.dataId = null
                this.dataName = ""
                this.dataNumber = ""
                this.dataBankId = ""
            },
            submitData() {
                const obj = {
                    id: this.dataId,
                    name: this.dataName,
                    number: this.dataNumber,
                    bank_id: this.dataBankId
                }

                if (this.dataId !== null && this.dataId >= 0) {
                    this.$store.dispatch("bankAccount/updateItem", obj)
                       .then(res => {
                        this.$emit('closeSidebar')
                    })
                    .catch(err => {
                        this.serverErrors = Object.values(err.response.data.errors)
                    })
                } else {
                    delete obj.id
                    this.$store.dispatch("bankAccount/addItem", obj)
                       .then(res => {
                        this.$emit('closeSidebar')
                    })
                    .catch(err => {
                        this.serverErrors = Object.values(err.response.data.errors)
                    })
                }

          
                this.initValues()
                this.$store.dispatch("bankAccount/fetchDataListItems")
            },
        },
        components: {
            VuePerfectScrollbar,
        },
        created() {
            // if (!moduleBankAccount.isRegistered) {
            //     this.$store.registerModule('bankAccount', moduleBankAccount)
            //     moduleBankAccount.isRegistered = true
            // }
        },
        mounted() {
            this.isMounted = true
            this.$store.dispatch("bankAccount/createBankAccountItems")

        }
    }

</script>

<style lang="scss" scoped>
    .add-new-data-sidebar {
        ::v-deep .vs-sidebar--background {
            z-index: 52010;
        }

        ::v-deep .vs-sidebar {
            z-index: 52010;
            width: 400px;
            max-width: 90vw;

            .img-upload {
                margin-top: 2rem;

                .con-img-upload {
                    padding: 0;
                }

                .con-input-upload {
                    width: 100%;
                    margin: 0;
                }
            }
        }
    }

    .scroll-area--data-list-add-new {
        // height: calc(var(--vh, 1vh) * 100 - 4.3rem);
        height: calc(var(--vh, 1vh) * 100 - 16px - 45px - 82px);
    }

</style>
