<!-- =========================================================================================
  File Name: FullPage.vue
  Description: Full page layout
  ========================================================================================== -->


<template>
  <div class="layout--full-page">
    <router-view></router-view>
  </div>
</template>
