/*=========================================================================================
    File Name: featherIcon.scss
    Description: Feather icon component's scss. Imported in FeatherIcon.vue file
    ==========================================================================================*/


.feather-icon {
    display: inline-flex;
    align-items: center;
}
