<!-- =========================================================================================
  File Name: AddNewDataSidebar.vue
  Description: Add New Data - Sidebar component
========================================================================================== -->

<template>
    <vs-sidebar click-not-close position-right parent="body" default-index="1" color="primary"
        class="add-new-data-sidebar items-no-padding" spacer v-model="isSidebarActiveLocal">
        <div class="mt-6 flex items-center justify-between px-6">
            <h4>{{ Object.entries(this.data).length === 0 ? $t("AddNew", { attribute: $t('Transport') }) : $t('Updata', { attribute: $t('Transport') }) }}
            </h4>
            <feather-icon icon="XIcon" @click.stop="isSidebarActiveLocal = false" class="cursor-pointer"></feather-icon>
        </div>
        <vs-divider class="mb-0"></vs-divider>

        <ValidationObserver v-slot="{ handleSubmit, invalid }">
            <form @submit.prevent="handleSubmit(submitData)">
                <VuePerfectScrollbar class="scroll-area--data-list-add-new" :settings="settings" :key="$vs.rtl">
                    <div class="p-6">
                        <vs-alert class="mb-6" :active="serverErrors.length > 0" v-for="(item, index) in serverErrors"
                            :key="index" color="danger" icon-pack="feather" icon="icon-info">
                            <span>{{item[0]}}</span>
                        </vs-alert>

                        <!-- Date -->
                        <ValidationProvider tag="div" class="mb-6" name="date" rules="required" v-slot="{ errors }">
                            <!-- <vs-input label="Date" v-model="dataDate" class="mt-5 w-full" name="item-date" /> -->
                            <label>{{$t('Date')}}</label>
                            <flat-pickr :label="$t('Date')" aria-placeholder="Date" v-model="dataDate" class="w-full"
                                name="item-date" />
                            <span class="text-danger text-sm">{{ errors[0] }}</span>
                        </ValidationProvider>

                        <!-- Vehicle -->
                        <ValidationProvider tag="div" class="mb-6" name="vehicle" rules="required" v-slot="{ errors }">
                            <vs-select v-model="dataVehiclelId" @input="changeVehicle" autocomplete
                                :label="$t('Vehicle')" class="w-full" name="item-vehicle">
                                <vs-select-item :key="item.id" :value="item" :text="item.number"
                                    v-for="item in ctreateItems.vehicles" />
                            </vs-select>
                            <span class="text-danger text-sm">{{ errors[0] }}</span>
                        </ValidationProvider>

                        <div v-for="(vehicleCount , key) in vehicleCounts" :key="key">
                            <div class="vx-row mb-6" v-if="dataVehiclelId">
                                <div class="vx-col w-1/2">
                                    <!--Rel -->
                                    <ValidationProvider name="transport_vehicle_configs" rules="required"
                                        v-slot="{ errors }">
                                        <label>{{$t('TripType')}}</label>
                                        <div>
                                            <div class="flex justify-between items-center">
                                                <vs-select autocomplete width="100%" v-model="vehicleCount.type">
                                                    <vs-select-item v-for="item in findItems.vehicle_trip_types"
                                                        :key="item.id" :value="item" :text="item.name" />
                                                </vs-select>

                                            </div>
                                        </div>
                                        <span class="text-danger text-sm">{{ errors[0] }}</span>
                                    </ValidationProvider>
                                </div>
                                <div class="vx-col w-1/2">
                                    <!--Commission -->
                                    <ValidationProvider name="commission" rules="required|numeric" v-slot="{ errors }">
                                        <label>{{$t('Count')}}</label>
                                        <div>
                                            <div class="flex justify-between items-center">
                                                <vs-input v-model="vehicleCount.count" class="w-full"
                                                    name="item-plus" />

                                                <feather-icon v-if="key == 0" icon="PlusIcon" @click="addParent()"
                                                    class="ml-2 cursor-pointer"></feather-icon>
                                                <feather-icon v-if="key > 0" icon="MinusIcon"
                                                    @click="removParent(vehicleCount)" class="ml-2 cursor-pointer">
                                                </feather-icon>
                                            </div>
                                        </div>
                                        <span class="text-danger text-sm">{{ errors[0] }}</span>
                                    </ValidationProvider>
                                </div>
                            </div>
                        </div>

                        <!--Commission -->
                        <ValidationProvider tag="div" class="mb-6" name="commission" rules="required|numeric"
                            v-slot="{ errors }" v-if="dataVehiclelId">
                            <vs-input :label="$t('Commission')" v-model="commissionSum" class="w-full"
                                name="item-commission" disabled />
                            <span class="text-danger text-sm">{{ errors[0] }}</span>
                        </ValidationProvider>

                        <!-- Driver -->
                        <ValidationProvider tag="div" class="mb-6" name="driver" rules="required|numeric"
                            v-slot="{ errors }">
                            <vs-select v-model="dataDriverId" autocomplete :label="$t('Driver')" class="w-full "
                                name="item-driver">
                                <vs-select-item :key="item.id" :value="item.id" :text="item.name"
                                    v-for="item in ctreateItems.drivers" />
                            </vs-select>
                            <span class="text-danger text-sm">{{ errors[0] }}</span>
                        </ValidationProvider>

                        <!--Notice -->
                        <ValidationProvider tag="div" class="mb-6" name="notice" rules v-slot="{ errors }">
                            <vs-input :label="$t('Notice')" v-model="dataNotice" class="w-full" name="item-notice" />
                            <span class="text-danger text-sm">{{ errors[0] }}</span>
                        </ValidationProvider>

                        <!--Plus -->
                        <ValidationProvider tag="div" class="mb-6" name="plus" rules="numeric" v-slot="{ errors }">
                            <vs-input :label="$t('Plus')" v-model="dataPlus" class="w-full " name="item-plus" />
                            <span class="text-danger text-sm">{{ errors[0] }}</span>
                        </ValidationProvider>

                        <vs-textarea :label="$t('Notes')" v-model="dataNotes" class="mb-6" />

                    </div>
                </VuePerfectScrollbar>

                <div class="flex flex-wrap items-center p-6" slot="footer">
                    <vs-button class="mr-6" @click="submitData" :disabled="invalid">{{$t('Submit')}}</vs-button>
                    <vs-button type="border" color="danger" @click="isSidebarActiveLocal = false">{{$t('Cancel')}}
                    </vs-button>
                </div>
            </form>
        </ValidationObserver>
    </vs-sidebar>
</template>

<script>
    import VuePerfectScrollbar from "vue-perfect-scrollbar";
    import moduleTransport from "@/store/transport/moduleTransport.js";

    import flatPickr from 'vue-flatpickr-component';
    import 'flatpickr/dist/flatpickr.css';

    export default {
        props: {
            isSidebarActive: {
                type: Boolean,
                required: true
            },
            data: {
                type: Object,
                default: () => {}
            }
        },
        watch: {
            isSidebarActive(val) {
                if (!val) return;
                if (Object.entries(this.data).length === 0) {
                    this.initValues();
                } else {
                    let {
                        id,
                        date,
                        vehicle_id,
                        driver_id,
                        commission,
                        notice,
                        plus,
                        notes,
                        transport_vehicle_configs
                    } = JSON.parse(JSON.stringify(this.data));
                    this.dataId = id;
                    this.dataDate = date;
                    this.dataVehiclelId = vehicle_id;
                    this.dataDriverId = driver_id;
                    this.dataCommission = commission;
                    this.dataNotice = notice;
                    this.dataPlus = plus;
                    this.dataNotes = notes;
                    this.dataTransportVehicleConfigs = transport_vehicle_configs;
                    this.initValues();
                }
                // Object.entries(this.data).length === 0 ? this.initValues() : { this.dataId, this.dataName, this.dataCategory, this.dataOrder_status, this.dataPrice } = JSON.parse(JSON.stringify(this.data))
            }
        },
        data() {
            return {
                serverErrors: [],
                dataDate: null,
                parentOption: [{
                        label: "Egyption",
                        id: "Egyption"
                    },
                    {
                        label: "British",
                        id: "British"
                    }
                ],
                vehicleCounts: [{
                    type: null,
                    count: 1
                }],
                avehicels: [{
                    value: ""
                }],
                dataId: null,
                dataVehiclelId: null,
                dataDriverId: null,
                dataCommission: null,
                dataNotice: null,
                dataPlus: null,
                dataNotes: null,
                dataTransportVehicleConfigs: null,

                commission: null,
                isMounted: false,
                settings: {
                    // perfectscrollbar settings
                    maxScrollbarLength: 60,
                    wheelSpeed: 0.6
                }
            };
        },
        computed: {
            isSidebarActiveLocal: {
                get() {
                    return this.isSidebarActive;
                },
                set(val) {
                    if (!val) {
                        this.$emit("closeSidebar");
                        this.initValues();
                    }
                }
            },
            commissionSum() {
                if (!this.dataVehiclelId) {
                    return 0
                }
                var total = 0
                var typeWithPrice
                this.vehicleCounts.forEach(element => {
                    if (element.type) {
                        typeWithPrice = element.type.vehicle_types.find((item, key) => {
                            return item.pivot.vehicle_type_id == this.dataVehiclelId.type_id
                        })
                        if (typeWithPrice) {
                            total += (Number(element.count) * typeWithPrice.pivot.price)
                        } else {
                            total = 0
                        }
                    } else {
                        total = 0
                    }
                });
                if (typeWithPrice) {
                    return total
                } else {
                    return 0
                }
            },
            ctreateItems() {
                return this.$store.state.transport.transportCreate;
            },
            findItems() {
                return this.$store.state.transport.transportFind;
            }
        },
        methods: {
            addParent() {
                this.vehicleCounts.push({
                    type: "",
                    count: 1,
                });
            },
            removParent(vehicleCount) {
                this.vehicleCounts.splice(this.vehicleCounts.indexOf(vehicleCount), 1);
            },
            initValues() {
                if (this.data.id) return;
                this.dataId = null;
                this.dataDate = null;
                this.dataVehiclelId = null;
                this.dataDriverId = null;
                this.dataCommission = null;
                this.dataNotice = null;
                this.dataPlus = null;
                this.dataNotes = null;
                this.dataTransportVehicleConfigs = null;
            },
            submitData() {
                const obj = {
                    id: this.dataId,
                    date: this.dataDate,
                    vehicle_id: this.dataVehiclelId.id,
                    driver_id: this.dataDriverId,
                    commission: this.commissionSum,
                    notice: this.dataNotice,
                    plus: this.dataPlus,
                    notes: this.dataNotes,
                    vehicle_config_id: null,
                    transport_vehicle_configs: this.dataTransportVehicleConfigs
                };

                if (this.dataId !== null && this.dataId >= 0) {
                    this.$store.dispatch("transport/updateItem", obj)
                        .then(res => {
                            this.$emit('closeSidebar')
                            this.initValues();

                        })
                        .catch(err => {
                            this.serverErrors = Object.values(err.response.data.errors)
                        })
                } else {
                    delete obj.id;
                    this.$store.dispatch("transport/addItem", obj)
                        .then(res => {
                            this.$emit('closeSidebar')
                            this.initValues();

                        })
                        .catch(err => {
                            this.serverErrors = Object.values(err.response.data.errors)
                        })
                }
            },
            changeVehicle(e) {
                this.$store.dispatch("transport/findTransportItem", e.type_id);
            }
        },
        components: {
            VuePerfectScrollbar,
            flatPickr
        },
        created() {
            if (!moduleTransport.isRegistered) {
                this.$store.registerModule("transport", moduleTransport);
                moduleTransport.isRegistered = true;
            }
            this.$store.dispatch("transport/createTransportItems");
        },
        mounted() {
            this.isMounted = true;
        }
    };

</script>

<style lang="scss" scoped>
    .add-new-data-sidebar {
        ::v-deep .vs-sidebar--background {
            z-index: 52010;
        }

        ::v-deep .vs-sidebar {
            z-index: 52010;
            width: 400px;
            max-width: 90vw;

            .img-upload {
                margin-top: 2rem;

                .con-img-upload {
                    padding: 0;
                }

                .con-input-upload {
                    width: 100%;
                    margin: 0;
                }
            }
        }
    }

    .scroll-area--data-list-add-new {
        // height: calc(var(--vh, 1vh) * 100 - 4.3rem);
        height: calc(var(--vh, 1vh) * 100 - 16px - 45px - 82px);
    }

</style>
