<!-- =========================================================================================
  File Name: UserView.vue
  Description: User View page
  ========================================================================================== -->

<template>
  <div id="page-user-view">

    <vs-alert color="danger" title="User Not Found" :active.sync="user_not_found">
      <span>User record with id: {{ $route.params.userId }} not found. </span>
      <span>
        <span>Check </span><router-link :to="{name:'page-user-list'}" class="text-inherit underline">All Users</router-link>
      </span>
    </vs-alert>

    <div id="user-data" v-if="user_data">

   

      <div class="vx-row">
        <div class="vx-col lg:w-1/2 w-full">
          <vx-card title="Information" class="mb-base">
            <table>
              <tr>
                <td class="font-semibold">Date</td>
                <td>{{user_data.date}}</td>
              </tr>
              <tr>
                <td class="font-semibold">Voucher</td>
                <td>{{ user_data.voucher_number }}</td>
              </tr>
                <tr>
                <td class="font-semibold">Hotel</td>
                <td>{{user_data.hotel_name}}</td>
              </tr>
               <tr>
                <td class="font-semibold">Room</td>
                <td>{{user_data.room_number}}</td>
              </tr>
               <tr>
                <td class="font-semibold">Trip</td>
                <td>{{user_data.trip_name}}</td>
              </tr>
            </table>
          </vx-card>
        </div>

        <div class="vx-col lg:w-1/2 w-full">
          <vx-card title="Social Links" class="mb-base">
            <table>
                 <tr>
                <td class="font-semibold">Price</td>
                <td>{{user_data.price}}</td>
              </tr>
              <tr>
                <td class="font-semibold">Plus</td>
                <td>{{user_data.plus}}</td>
              </tr>
              <tr>
                <td class="font-semibold">Total</td>
                <td>{{user_data.total}}</td>
              </tr>
              <tr>
                <td class="font-semibold">Notes</td>
                <td>{{user_data.notes}}</td>
              </tr>
            
            </table>
          </vx-card>
        </div>
      </div>

      <!-- Permissions -->
      <vx-card>

        <div class="vx-row">
          <div class="vx-col w-full">
            <div class="flex items-end px-3">
              <feather-icon svgClasses="w-6 h-6" icon="LockIcon" class="mr-2" />
              <span class="font-medium text-lg leading-none">Permissions</span>
            </div>
            <vs-divider />
          </div>
        </div>

        <div class="block overflow-x-auto">
          <table class="w-full permissions-table">
            <tr>
              <!--
                You can also use `Object.keys(Object.values(data_local.permissions)[0])` this logic if you consider,
                our data structure. You just have to loop over above variable to get table headers.
                Below we made it simple. So, everyone can understand.
               -->
              <th class="font-semibold text-base text-left px-0 py-2" v-for="heading in ['V Name', 'V Type','Number','Price']" :key="heading">{{ heading }}</th>

            </tr>
            
            <tr>
             <td >sdgdf</td>
              <td>reda</td>
              <td>dfhf</td>
              <td>dfhh</td>
            </tr>
          
          </table>
        </div>

      </vx-card>
    </div>
  </div>
</template>

<script>
import moduleTransport from "@/store/transport/moduleTransport.js";
export default {
  props: {
    id: {
      type: [Number, String]
    }
  },
  data() {
    return {
      user_data: null,
      user_not_found: false,
    }
  },
  computed: {
    userAddress() {
      let str = ""
      for(var field in this.user_data.location) {
        str += field + " "
      }
      return str
    }
  },
  methods: {
    confirmDeleteRecord() {
      this.$vs.dialog({
        type: 'confirm',
        color: 'danger',
        title: `Confirm Delete`,
        text: `You are about to delete "${this.user_data.username}"`,
        accept: this.deleteRecord,
        acceptText: "Delete"
      })
    },
    deleteRecord() {
      /* Below two lines are just for demo purpose */
      this.$router.push({name:'app-user-list'});
      this.showDeleteSuccess()

      /* UnComment below lines for enabling true flow if deleting user */
      // this.$store.dispatch("excursion/removeRecord", this.user_data.id)
      //   .then(()   => { this.$router.push({name:'app-user-list'}); this.showDeleteSuccess() })
      //   .catch(err => { console.error(err)       })
    },
    showDeleteSuccess() {
      this.$vs.notify({
        color: 'success',
        title: 'User Deleted',
        text: 'The selected user was successfully deleted'
      })
    }
  },
  created() {
    // Register Module excursion Module
    if(!moduleTransport.isRegistered) {
      this.$store.registerModule('transport', moduleTransport)
      moduleTransport.isRegistered = true
    }

    const userId = this.$route.params.userId
    this.$store.dispatch("transport/show", this.id)
      .then(res => { this.user_data = res.data.data
      console.log(res) })
      .catch(err => {
        if(err.response.status === 404) {
          this.user_not_found = true
          return
        }
        console.error(err) })
  }
}

</script>

<style lang="scss">
#avatar-col {
  width: 10rem;
}

#page-user-view {
  table {
    td {
      vertical-align: top;
      min-width: 140px;
      padding-bottom: .8rem;
      word-break: break-all;
    }

    &:not(.permissions-table) {
      td {
        @media screen and (max-width:370px) {
          display: block;
        }
      }
    }
  }
}

// #account-info-col-1 {
//   // flex-grow: 1;
//   width: 30rem !important;
//   @media screen and (min-width:1200px) {
//     & {
//       flex-grow: unset !important;
//     }
//   }
// }


@media screen and (min-width:1201px) and (max-width:1211px),
only screen and (min-width:636px) and (max-width:991px) {
  #account-info-col-1 {
    width: calc(100% - 12rem) !important;
  }

  // #account-manage-buttons {
  //   width: 12rem !important;
  //   flex-direction: column;

  //   > button {
  //     margin-right: 0 !important;
  //     margin-bottom: 1rem;
  //   }
  // }

}

</style>
