<!-- =========================================================================================
  File Name: Transport.vue
  Description: Transport List - List View
========================================================================================== -->

<template>
  <div id="data-list-list-view" class="data-list-container">
    <data-view-sidebar
      :isSidebarActive="addNewDataSidebar"
      @closeSidebar="toggleDataSidebar"
      :data="sidebarData"
    />

    <vs-table
      ref="table"
      multiple
      v-model="selected"
      pagination
      :max-items="itemsPerPage"
      search
      :data="products"
    >
      <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
        <div class="flex flex-wrap-reverse items-center data-list-btn-container">
          <!-- ACTION - DROPDOWN -->
          <vs-dropdown vs-trigger-click class="dd-actions cursor-pointer mr-4 mb-4">
            <div
              class="p-4 shadow-drop rounded-lg d-theme-dark-bg cursor-pointer flex items-center justify-center text-lg font-medium w-32 w-full"
            >
              <span class="mr-2">{{$t('Actions')}}</span>
              <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
            </div>

            <vs-dropdown-menu>
              <vs-dropdown-item>
                <span class="flex items-center">
                  <feather-icon icon="TrashIcon" svgClasses="h-4 w-4" class="mr-2" />
                  <span>{{$t('Delete')}}</span>
                </span>
              </vs-dropdown-item>

              <vs-dropdown-item>
                <span class="flex items-center">
                  <feather-icon icon="ArchiveIcon" svgClasses="h-4 w-4" class="mr-2" />
                  <span>{{$t('Archive')}}</span>
                </span>
              </vs-dropdown-item>

              <vs-dropdown-item>
                <span class="flex items-center">
                  <feather-icon icon="FileIcon" svgClasses="h-4 w-4" class="mr-2" />
                  <span>{{$t('Print')}}</span>
                </span>
              </vs-dropdown-item>

              <vs-dropdown-item>
                <span class="flex items-center">
                  <feather-icon icon="SaveIcon" svgClasses="h-4 w-4" class="mr-2" />
                  <span>{{$t('AnotherAction')}}</span>
                </span>
              </vs-dropdown-item>
            </vs-dropdown-menu>
          </vs-dropdown>

          <!-- ADD NEW -->
          <div
            class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary"
            @click="addNewData"
          >
            <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
            <span class="ml-2 text-base text-primary">{{$t('Add')}}</span>
          </div>
        </div>

        <!-- ITEMS PER PAGE -->
        <vs-dropdown vs-trigger-click class="cursor-pointer mb-4 mr-4 items-per-page-handler">
          <div
            class="p-4 border border-solid d-theme-border-grey-light rounded-full d-theme-dark-bg cursor-pointer flex items-center justify-between font-medium"
          >
            <span
              class="mr-2"
            >{{ currentPage * itemsPerPage - (itemsPerPage - 1) }} - {{ products.length - currentPage * itemsPerPage > 0 ? currentPage * itemsPerPage : products.length }} of {{ queriedItems }}</span>
            <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
          </div>
          <!-- <vs-button class="btn-drop" type="line" color="primary" icon-pack="feather" icon="icon-chevron-down"></vs-button> -->
          <vs-dropdown-menu>
            <vs-dropdown-item @click="itemsPerPage=4">
              <span>4</span>
            </vs-dropdown-item>
            <vs-dropdown-item @click="itemsPerPage=10">
              <span>10</span>
            </vs-dropdown-item>
            <vs-dropdown-item @click="itemsPerPage=15">
              <span>15</span>
            </vs-dropdown-item>
            <vs-dropdown-item @click="itemsPerPage=20">
              <span>20</span>
            </vs-dropdown-item>
          </vs-dropdown-menu>
        </vs-dropdown>
      </div>

      <template slot="thead">
        <vs-th sort-key="date">{{$t('Date')}}</vs-th>
        <vs-th sort-key="car_number">{{$t('CarNumber')}}</vs-th>
        <vs-th sort-key="car_type">{{$t('CarType')}}</vs-th>
        <!-- <vs-th sort-key="count">Count</vs-th> -->
        <vs-th sort-key="driver_name">{{$t('Driver')}}</vs-th>
        <vs-th sort-key="commission">{{$t('Commission')}}</vs-th>
        <vs-th sort-key="notice">{{$t('Notice')}}</vs-th>
        <vs-th sort-key="plus">{{$t('Plus')}}</vs-th>
        <vs-th sort-key="value">{{$t('Value')}}</vs-th>
        <vs-th sort-key="notes">{{$t('Notes')}}</vs-th>
        <vs-th>{{$t('Action')}}</vs-th>
      </template>

      <template slot-scope="{data}">
        <tbody>
          <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
            <!-- <vs-td>
              <p class="product-name font-medium truncate">{{ tr.date }}</p>
            </vs-td> -->

            <vs-td>
              <p class="product-category">{{ tr.date }}</p>
            </vs-td>

            <vs-td>
              <p class="product-category">{{ tr.vehicle_number }}</p>
            </vs-td>

            <vs-td>
              <p class="product-category">{{ tr.vehicle_type_name }}</p>
            </vs-td>

            <!-- <vs-td>
              <p class="product-category">{{ tr.count }}</p>
              <ul>
                  <li>count: 2</li>
                  <li>type: ذعاب</li>
              </ul>
            </vs-td> -->

            <vs-td>
              <p class="product-category">{{ tr.driver_name }}</p>
            </vs-td>

            <vs-td>
              <p class="product-category">{{ tr.commission }}</p>
            </vs-td>

            <vs-td>
              <p class="product-category">{{ tr.notice }}</p>
            </vs-td>

            <vs-td>
              <p class="product-category">{{ tr.plus }}</p>
            </vs-td>

            <vs-td>
              <p class="product-category">{{ tr.value }}</p>
            </vs-td>

            <vs-td>
              <p class="product-category">{{ tr.notes }}</p>
            </vs-td>
            <vs-td class="whitespace-no-wrap">
                 <feather-icon
                icon="EyeIcon"
                svgClasses="w-5 h-5 hover:text-primary stroke-current"
                @click.stop="viweData(tr)"
              />
              <feather-icon
                icon="EditIcon"
                svgClasses="w-5 h-5 hover:text-primary stroke-current"
                @click.stop="editData(tr)"
              />
              <feather-icon
                icon="TrashIcon"
                svgClasses="w-5 h-5 hover:text-danger stroke-current"
                class="ml-2"
                @click.stop="deleteOpenPopUp(tr)"
              />
            </vs-td>
          </vs-tr>
        </tbody>
      </template>
    </vs-table>
        <vs-popup class="holamundo" title="Delete" :active.sync="popupActive">
      <p> Are You Sure That You Want To Delete This Row.</p>
  <div class="flex justify-end mt-base">
     
      <vs-button color="danger" type="filled" @click.stop="deleteData()">Delete</vs-button>
      </div>
      </vs-popup>
  </div>
</template>

<script>
import DataViewSidebar from "./DataViewSidebar.vue";
import moduleTransport from "@/store/transport/moduleTransport.js";

export default {
  components: {
    DataViewSidebar
  },
  data() {
    return {
      selected: [],
     
      itemsPerPage: 10,
      isMounted: false,
       popupActive: false , 
      popData: {},  
      // Data Sidebar
      addNewDataSidebar: false,
      sidebarData: {}
    };
  },
  computed: {
    currentPage() {
      if (this.isMounted) {
        return this.$refs.table.currentx;
      }
      return 0;
    },
    products() {
      return this.$store.state.transport.products;
    },
    queriedItems() {
      return this.$refs.table
        ? this.$refs.table.queriedResults.length
        : this.products.length;
    }
  },
  methods: {
    addNewData() {
      this.sidebarData = {};
      this.toggleDataSidebar(true);
    },
    
        deleteOpenPopUp(tr) {   
        this.popupActive = true
        this.popData = tr
        },
    deleteData() {
      this.$store.dispatch("transport/removeItem", this.popData.id)
      .then(response => {
        this.popupActive = false;
        this.popData = {}
      })
      .catch(err => {
        console.error(err);
      });
      
    },
     viweData(tr){
      this.$router.push({name:"show-transport", params: {
        id: tr.id
      }})
    },
    editData(data) {
      // this.sidebarData = JSON.parse(JSON.stringify(this.blankData))
      this.sidebarData = data;
      this.toggleDataSidebar(true);
    },
    // getOrderStatusColor(status) {
    //     if(status == 'on_hold') return "warning"
    //     if(status == 'delivered') return "success"
    //     if(status == 'canceled') return "danger"
    //     return "primary"
    // },
    // getPopularityColor(num) {
    //     if(num > 90) return "success"
    //     if(num >70) return "primary"
    //     if(num >= 50) return "warning"
    //     if(num < 50) return "danger"
    //     return "primary"
    // },
    toggleDataSidebar(val = false) {
      this.addNewDataSidebar = val;
    },
    addEarning() {
      this.salaryStructures[this.indexOfSalary].earningcomponents.push({
        name: this.addData,
        section: "earning",
        type: "",
        from: ""
      });
      (this.popupAddActive = false), (this.addData = null);
    },
  },
  created() {
    if (!moduleTransport.isRegistered) {
      this.$store.registerModule("transport", moduleTransport);
      moduleTransport.isRegistered = true;
    }
    this.$store.dispatch("transport/fetchDataListItems");
  },
  mounted() {
    this.isMounted = true;
  }
};
</script>

<style lang="scss">
#data-list-list-view {
  .vs-con-table {
    /*
              Below media-queries is fix for responsiveness of action buttons
              Note: If you change action buttons or layout of this page, Please remove below style
            */
    @media (max-width: 689px) {
      .vs-table--search {
        margin-left: 0;
        max-width: unset;
        width: 100%;

        .vs-table--search-input {
          width: 100%;
        }
      }
    }

    @media (max-width: 461px) {
      .items-per-page-handler {
        display: none;
      }
    }

    @media (max-width: 341px) {
      .data-list-btn-container {
        width: 100%;

        .dd-actions,
        .btn-add-new {
          width: 100%;
          margin-right: 0 !important;
        }
      }
    }

    .product-name {
      max-width: 23rem;
    }

    .vs-table--header {
      display: flex;
      flex-wrap: wrap;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      > span {
        display: flex;
        flex-grow: 1;
      }

      .vs-table--search {
        padding-top: 0;

        .vs-table--search-input {
          padding: 0.9rem 2.5rem;
          font-size: 1rem;

          & + i {
            left: 1rem;
          }

          &:focus + i {
            left: 1rem;
          }
        }
      }
    }

    .vs-table {
      border-collapse: separate;
      border-spacing: 0 1.3rem;
      padding: 0 1rem;

      tr {
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
        td {
          padding: 20px;
          &:first-child {
            border-top-left-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
          }
          &:last-child {
            border-top-right-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
          }
        }
        td.td-check {
          padding: 20px !important;
        }
      }
    }

    .vs-table--thead {
      th {
        padding-top: 0;
        padding-bottom: 0;

        .vs-table-text {
          text-transform: uppercase;
          font-weight: 600;
        }
      }
      th.td-check {
        padding: 0 15px !important;
      }
      tr {
        background: none;
        box-shadow: none;
      }
    }

    .vs-table--pagination {
      justify-content: center;
    }
  }
}
</style>
