/*=========================================================================================
    File Name: dropdown.scss
    Description: Dropdown page styles
    ==========================================================================================*/

.dropdown-login {
    z-index: 55000;

    .vs-dropdown--custom {
        display: flex;
        align-items: center;
        flex-flow: column;
        padding: 20px !important;
    }
}

.dropdown-button-container {
    display: flex;
    align-items: center;

    .btnx {
        border-radius: 5px 0px 0px 5px;
    }

    .btn-drop {
        border-radius: 0px 5px 5px 0px;
        border-left: 1px solid rgba(255, 255, 255,.2);
    }
}
