/*=========================================================================================
    File Name: switch.scss
    Description: Switch page styles
    ==========================================================================================*/

.demo-alignment {
    li {
        margin-right: 2rem;
    }

    .vs-switch {
        margin-top: .5rem;
    }
}
