<!-- =========================================================================================
  File Name: AddNewDataSidebar.vue
  Description: Add New Data - Sidebar component
========================================================================================== -->

<template>
  <vs-sidebar
    click-not-close
    position-right
    parent="body"
    default-index="1"
    color="primary"
    class="add-new-data-sidebar items-no-padding"
    spacer
    v-model="isSidebarActiveLocal"
  >
    <div class="mt-base flex items-center justify-between px-6">
      <h4>{{ Object.entries(this.data).length === 0 ? $t("AddNew", { attribute: $t('Transaction') }) : $t("Update", { attribute: $t('Transaction') }) }}</h4>
      <feather-icon icon="XIcon" @click.stop="isSidebarActiveLocal = false" class="cursor-pointer"></feather-icon>
    </div>
    <vs-divider class="mb-0"></vs-divider>

    <ValidationObserver v-slot="{ handleSubmit, invalid }">
            <form @submit.prevent="handleSubmit(submitData)">
      <VuePerfectScrollbar
        class="scroll-area--data-list-add-new"
        :settings="settings"
        :key="$vs.rtl"
      >
        <div class="p-6">
          <vs-alert class="mb-6" :active="serverErrors.length > 0" v-for="(item, index) in serverErrors"
                            :key="index" color="danger" icon-pack="feather" icon="icon-info">
                            <span>{{item[0]}}</span>
                        </vs-alert>

          <!-- BankAccounts -->
          <ValidationProvider tag="div" name="bank account" rules="required" v-slot="{ errors }">
            <vs-select
              v-model="dataBankAccountId"
              autocomplete
              :label="$t('Account')"
              class="w-full"
              name="item-bank_account"
            >
              <vs-select-item
                :key="item.id"
                :value="item.id"
                :text="item.name"
                v-for="item in createItems.bank_accounts"
              />
            </vs-select>
            <span class="text-danger text-sm">{{ errors[0] }}</span>
          </ValidationProvider>

           <!-- Date -->
          <ValidationProvider tag="div" class="mb-6" name="date" rules="required" v-slot="{ errors }" >
            <!-- <vs-input label="Date" v-model="dataDate" class="mt-5 w-full" name="item-date" /> -->
            <br><label>{{$t('Date')}}</label>

           <flat-pickr aria-placeholder="Date" v-model="dataDate" class="w-full" name="item-date" />
            <span class="text-danger text-sm">{{ errors[0] }}</span>
          </ValidationProvider>


          <!-- Type -->
          <ValidationProvider tag="div" class="mb-6" name="transaction_type" rules="required" v-slot="{ errors }">
            <vs-select
              v-model="dataTransactionType"
              autocomplete
              :label="$t('TransactionType')"
              class="w-full"
              name="item-transaction_type"
            >
              <vs-select-item
                :key="item.id"
                :value="item"
                :text="item"
                v-for="item in createItems.transaction_types"
              />
            </vs-select>
            <span class="text-danger text-sm">{{ errors[0] }}</span>
          </ValidationProvider>

          <!-- Check Number -->
          <ValidationProvider tag="div" class="mb-6" name="check_number" rules="required|numeric" v-slot="{ errors }">
            <vs-input :label="$t('CheckNumber')" v-model="dataCheckNumber" class="w-full" name="item-check_number" />
            <span class="text-danger text-sm">{{ errors[0] }}</span>
          </ValidationProvider>


          <!-- Payee -->
          <ValidationProvider tag="div" class="mb-6" name="payee" rules="required|numeric" v-slot="{ errors }">
            <vs-select
              v-model="dataPayee"
              autocomplete
              :label="$t('Payee')"
              class="w-full"
              name="item-payee"
            >
              <vs-select-item
                :key="item.id"
                :value="item.id"
                :text="item.name"
                v-for="item in createItems.payees"
              />
            </vs-select>
            <span class="text-danger text-sm">{{ errors[0] }}</span>
          </ValidationProvider>
        
        <div class="mb-base flex justify-start mt-2">


          <!-- is Due -->
          <br><label for="" class="mr-4">{{$t('isDue')}}</label>
           <vs-switch color="success" icon-pack="feather" vs-icon-on="icon-check-circle" vs-icon-off="icon-slash" v-model="dataIsDue">
               <span slot="on">{{$t('YES')}}</span>
               <span slot="off">{{$t('NO')}}</span>
           </vs-switch>
        </div>
        <div class="mb-base">
            <vs-textarea :label="$t('Notes')" v-model="dataNotes" />
        </div>
        </div>

      </VuePerfectScrollbar>

      <div class="flex flex-wrap items-center p-6" slot="footer">
        <vs-button class="mr-6" @click="submitData" :disabled="invalid">{{$t('Submit')}}</vs-button>
        <vs-button type="border" color="danger" @click="isSidebarActiveLocal = false">{{$t('Cancel')}}</vs-button>
      </div>
    </form>
</ValidationObserver>
  </vs-sidebar>
</template>

<script>
import VuePerfectScrollbar from "vue-perfect-scrollbar";
import moduleTransaction from "@/store/transaction/moduleTransaction.js";

import flatPickr from 'vue-flatpickr-component';
import 'flatpickr/dist/flatpickr.css';

export default {
  props: {
    isSidebarActive: {
      type: Boolean,
      required: true
    },
    data: {
      type: Object,
      default: () => {}
    }
  },
  watch: {
    isSidebarActive(val) {
      if (!val) return;
      if (Object.entries(this.data).length === 0) {
        this.initValues();
      } else {
        let { id, bank_account_id ,date ,transaction_type ,check_number ,payee_id ,is_due ,notes } = JSON.parse(JSON.stringify(this.data));
        this.dataId = id;
        this.dataBankAccountId = bank_account_id;
        this.dataDate = date;
        this.dataTransactionType = transaction_type;
        this.dataCheckNumber = check_number;
        this.dataPayee = payee_id;
        this.dataIsDue = is_due;
        this.dataNotes = notes;

        this.initValues();
      }
      // Object.entries(this.data).length === 0 ? this.initValues() : { this.dataId, this.dataName, this.dataCategory, this.dataOrder_status, this.dataPrice } = JSON.parse(JSON.stringify(this.data))
    }
  },
  data() {
    return {
      serverErrors:[],
      dataId : null,
      dataBankAccountId : null,
      dataDate : null,
      dataTransactionType : null,
      dataCheckNumber : null,
      dataPayee : null,
      dataIsDue : null,
      dataNotes : null,
      isMounted: false,
      settings: {
        // perfectscrollbar settings
        maxScrollbarLength: 60,
        wheelSpeed: 0.6
      }
    };
  },
  computed: {
    isSidebarActiveLocal: {
      get() {
        return this.isSidebarActive;
      },
      set(val) {
        if (!val) {
          this.$emit("closeSidebar");
          this.initValues();
        }
      }
    },
    createItems() {
      return this.$store.state.transaction.transactionCreate;
    }
  },
  methods: {
    initValues() {
      if (this.data.id) return;
      this.dataId = null;
      this.dataBankAccountId = null;
      this.dataDate = null;
      this.dataTransactionType = null;
      this.dataCheckNumber = null;
      this.dataPayee = null;
      this.dataIsDue = null;
      this.dataNotes = null;
    },
    submitData() {
      const obj = {
        id: this.dataId,
        bank_account_id: this.dataBankAccountId,
        date: this.dataDate,
        transaction_type: this.dataTransactionType,
        check_number: this.dataCheckNumber,
        payee_id: this.dataPayee,
        is_due: this.dataIsDue,
        notes: this.dataNotes,
      };

      if (this.dataId !== null && this.dataId >= 0) {
        this.$store.dispatch("transaction/updateItem", obj)  
            .then(res => {
                        this.$emit('closeSidebar')
                    })
                    .catch(err => {
                        this.serverErrors = Object.values(err.response.data.errors)
                    })
      } else {
        delete obj.id;
        this.$store.dispatch("transaction/addItem", obj)   
           .then(res => {
                        this.$emit('closeSidebar')
                    })
                    .catch(err => {
                        this.serverErrors = Object.values(err.response.data.errors)
                    })
      }

 
      this.initValues();
      this.$store.dispatch("transaction/fetchDataListItems")
    },
  },
  components: {
    VuePerfectScrollbar,
    flatPickr
  },
  created() {
    if (!moduleTransaction.isRegistered) {
        this.$store.registerModule('transaction', moduleTransaction)
        moduleTransaction.isRegistered = true
    }
    this.$store.dispatch("transaction/createTransactionItems");
  },
  mounted() {
    this.isMounted = true;
  }
};
</script>

<style lang="scss" scoped>
.add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52010;
  }

  ::v-deep .vs-sidebar {
    z-index: 52010;
    width: 400px;
    max-width: 90vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
  // height: calc(var(--vh, 1vh) * 100 - 4.3rem);
  height: calc(var(--vh, 1vh) * 100 - 16px - 45px - 82px);
}
</style>
