<!-- =========================================================================================
  File Name: AddNewDataSidebar.vue
  Description: Add New Data - Sidebar component
========================================================================================== -->

<template>
  <vs-sidebar
    click-not-close
    position-right
    parent="body"
    default-index="1"
    color="primary"
    class="add-new-data-sidebar items-no-padding"
    spacer
    v-model="isSidebarActiveLocal"
  >
    <div class="mt-6 flex items-center justify-between px-6">
      <h4>{{ Object.entries(this.data).length === 0 ? $t('AddNew', { attribute: $t('Voucher') }) : $t('Updata', { attribute: $t('Voucher') }) }}</h4>
      <feather-icon icon="XIcon" @click.stop="isSidebarActiveLocal = false" class="cursor-pointer"></feather-icon>
    </div>
    <vs-divider class="mb-0"></vs-divider>

    <ValidationObserver v-slot="{ handleSubmit, invalid }">
            <form @submit.prevent="handleSubmit(submitData)">
      <VuePerfectScrollbar
        class="scroll-area--data-list-add-new"
        :settings="settings"
        :key="$vs.rtl"
      >
        <div class="p-6">
              <vs-alert class="mb-6" :active="serverErrors.length > 0" v-for="(item, index) in serverErrors"
                            :key="index" color="danger" icon-pack="feather" icon="icon-info">
                            <span>{{item[0]}}</span>
                        </vs-alert>
          <!-- Codde -->
          <ValidationProvider tag="div" class="mb-6" name="code" rules="required" v-slot="{ errors }">
            <vs-input :label="$t('code')" v-model="dataCode" class="w-full" name="item-code" />
            <span class="text-danger text-sm">{{ errors[0] }}</span>
          </ValidationProvider>

          <!-- Number -->
          <ValidationProvider tag="div" class="mb-6"  name="number" rules="required|numeric" v-slot="{ errors }">
            <vs-input :label="$t('Number')" v-model="dataNumber" class="w-full" name="item-number" />
            <span class="text-danger text-sm">{{ errors[0] }}</span>
          </ValidationProvider>
        
          <!-- Company -->
          <ValidationProvider tag="div" class="mb-6" name="companies" rules="required|numeric" v-slot="{ errors }">
            <vs-select
              v-model="dataCompanyId"
              autocomplete
              :label="$t('Company')"
              class="w-full"
              name="item-company"
            >
              <vs-select-item
                :key="item.id"
                :value="item.id"
                :text="item.name"
                v-for="item in companies"
              />
            </vs-select>
            <span class="text-danger text-sm">{{ errors[0] }}</span>
          </ValidationProvider>
        </div>
      </VuePerfectScrollbar>

      <div class="flex flex-wrap items-center p-6" slot="footer">
        <vs-button class="mr-6" @click="submitData" :disabled="invalid">{{$t('Submit')}}</vs-button>
        <vs-button type="border" color="danger" @click="isSidebarActiveLocal = false">{{$t('Cancel')}}</vs-button>
      </div>
    </form>
</ValidationObserver>
  </vs-sidebar>
</template>

<script>
import VuePerfectScrollbar from "vue-perfect-scrollbar";
import moduleVoucher from "@/store/voucher/moduleVoucher.js";

export default {
  props: {
    isSidebarActive: {
      type: Boolean,
      required: true
    },
    data: {
      type: Object,
      default: () => {}
    }
  },
  watch: {
    isSidebarActive(val) {
      if (!val) return;
      if (Object.entries(this.data).length === 0) {
        this.initValues();
      } else {
        let { id, code, number, company_id } = JSON.parse(JSON.stringify(this.data));
        this.dataId = id;
        this.dataCode = code;
        this.dataNumber = number;
        this.dataCompanyId = company_id;
        this.initValues();
      }
      // Object.entries(this.data).length === 0 ? this.initValues() : { this.dataId, this.dataName, this.dataCategory, this.dataOrder_status, this.dataPrice } = JSON.parse(JSON.stringify(this.data))
    }
  },
  data() {
    return {
      serverErrors:[],
      dataId: null,
      dataCode: null,
      dataNumber: null,
      dataCompanyId: null,
      isMounted: false,
      settings: {
        // perfectscrollbar settings
        maxScrollbarLength: 60,
        wheelSpeed: 0.6
      }
    };
  },
  computed: {
    isSidebarActiveLocal: {
      get() {
        return this.isSidebarActive;
      },
      set(val) {
        if (!val) {
          this.$emit("closeSidebar");
          this.initValues();
        }
      }
    },
    companies() {
      return this.$store.state.voucher.voucherCreate;
    }
  },
  methods: {
    initValues() {
      if (this.data.id) return;
      this.dataId = null;
      this.dataCode = "";
      this.dataNumber = "";
      this.dataCompanyId = "";
    },
    submitData() {
      const obj = {
        id: this.dataId,
        code: this.dataCode,
        number: this.dataNumber,
        company_id: this.dataCompanyId
      };

      if (this.dataId !== null && this.dataId >= 0) {
        this.$store.dispatch("voucher/updateItem", obj)     
         .then(res => {
                        this.$emit('closeSidebar')
                    })
                    .catch(err => {
                        this.serverErrors = Object.values(err.response.data.errors)
                    })
      } else {
        delete obj.id;
        this.$store.dispatch("voucher/addItem", obj)     
         .then(res => {
                        this.$emit('closeSidebar')
                    })
                    .catch(err => {
                        this.serverErrors = Object.values(err.response.data.errors)
                    })
      }

     
      this.initValues();
      this.$store.dispatch("voucher/fetchDataListItems")
    },
  },
  components: {
    VuePerfectScrollbar
  },
  created() {
    if (!moduleVoucher.isRegistered) {
        this.$store.registerModule('voucher', moduleVoucher)
        moduleVoucher.isRegistered = true
    }
    this.$store.dispatch("voucher/createVoucherItems");
  },
  mounted() {
    this.isMounted = true;
  }
};
</script>

<style lang="scss" scoped>
.add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52010;
  }

  ::v-deep .vs-sidebar {
    z-index: 52010;
    width: 400px;
    max-width: 90vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
  // height: calc(var(--vh, 1vh) * 100 - 4.3rem);
  height: calc(var(--vh, 1vh) * 100 - 16px - 45px - 82px);
}
</style>
