<!-- =========================================================================================
  File Name: AddNewDataSidebar.vue
  Description: Add New Data - Sidebar component
========================================================================================== -->

<template>
    <vs-sidebar click-not-close position-right parent="body" default-index="1" color="primary"
        class="add-new-data-sidebar items-no-padding" spacer v-model="isSidebarActiveLocal">
        <div class="mt-6 flex items-center justify-between px-6">
            <h4>{{ Object.entries(this.data).length === 0 ? $t('AddNew', { attribute: $t('Excursion') }) : $t('Updata', { attribute: $t('Excursion') }) }}
            </h4>
            <feather-icon icon="XIcon" @click.stop="isSidebarActiveLocal = false" class="cursor-pointer"></feather-icon>
        </div>
        <vs-divider class="mb-0"></vs-divider>

        <ValidationObserver v-slot="{ handleSubmit, invalid }">
            <form @submit.prevent="handleSubmit(submitData)">
                <VuePerfectScrollbar class="scroll-area--data-list-add-new" :settings="settings" :key="$vs.rtl">
                    <div class="p-6">
                          <vs-alert class="mb-6" :active="serverErrors.length > 0" v-for="(item, index) in serverErrors"
                            :key="index" color="danger" icon-pack="feather" icon="icon-info">
                            <span>{{item[0]}}</span>
                        </vs-alert>

                        <!-- Date -->
                        <ValidationProvider tag="div" class="mb-6" name="Date" rules="required" v-slot="{ errors }">
                            <!-- <vs-input label="Date" v-model="date" class="mt-5 w-full" name="item-date" /> -->
                            <label>{{$t('Date')}}</label>
                            <flat-pickr label="Date" aria-placeholder="Date" v-model="date" class=" w-full"
                                name="item-date" />
                            <span class="text-danger text-sm">{{ errors[0] }}</span>
                        </ValidationProvider>

                        <ValidationProvider tag="div" class="mb-6" name="Voucher" rules="required" v-slot="{ errors }">
                            <vs-select v-model="voucher_id" autocomplete class="w-full select-large"
                                :label="$t('Voucher')" v-if="listitems">
                                <vs-select-item :key="index" v-for="(item, index) in listitems.vouchers"
                                    :value="item.id" class=" w-full" :text="( item.code + ' | ' +item.number)" />
                            </vs-select>
                            <span class="text-danger text-sm">{{ errors[0] }}</span>
                        </ValidationProvider>

                        <ValidationProvider tag="div" class="mb-6" name="Hotel" rules="required" v-slot="{ errors }">
                            <vs-select v-model="hotel_id" autocomplete class="w-full select-large" :label="$t('Hotel')"
                                v-if="listitems">
                                <vs-select-item :key="index" v-for="(item,index) in listitems.hotels" :value="item.id"
                                    class="w-full" :text="item.name" />
                            </vs-select>
                            <span class="text-danger text-sm">{{ errors[0] }}</span>
                        </ValidationProvider>
                        <ValidationProvider tag="div" class="mb-6" name="Room" rules="required" v-slot="{ errors }"
                            v-if="hotel_id">
                            <vs-select v-model="room_id" autocomplete class="w-full select-large" :label="$t('Room')"
                                v-if="listitems">
                                <vs-select-item :key="index" v-for="(item,index) in listitems.rooms" :value="item.id"
                                    class="w-full" :text="item.number" />
                            </vs-select>
                            <span class="text-danger text-sm">{{ errors[0] }}</span>
                        </ValidationProvider>

                        <ValidationProvider tag="div" class="mb-6" name="Trip" rules="required" v-slot="{ errors }">
                            <vs-select v-model="trip_id" autocomplete class="w-full select-large" :label="$t('Trip')"
                                v-if="listitems">
                                <vs-select-item :key="index" v-for="(item,index) in listitems.trips" :value="item.id"
                                    class="w-full" :text="item.name" />
                            </vs-select>
                            <span class="text-danger text-sm">{{ errors[0] }}</span>
                        </ValidationProvider>

                        <ValidationProvider tag="div" class="mb-6" name="plus" rules="required"
                            v-slot="{ errors }">
                            <vs-input :label="$t('Plus')" type="number" v-model="plus" class="w-full" name="item-plus" />
                            <span class="text-danger text-sm">{{ errors[0] }}</span>
                        </ValidationProvider>

                        <div class="flex justify-around mb-6">
                            <vs-checkbox v-model="types" vs-value="quad">{{$t('Quad')}}</vs-checkbox>
                            <vs-checkbox v-model="types" vs-value="bugy">{{$t('Bugy')}}</vs-checkbox>
                        </div>
                        <div v-if="types.includes('quad')" class="mb-6">
                            <div class="mb-3">
                                <label>{{$t('Quades')}}</label>
                            </div>
                            <vs-input v-model="quadsingle" class=" mb-6 w-full" :label="$t('Single')"
                                placeholder="1,2,3..." />
                            <vs-input v-model="quaddouble" class="mb-6 w-full" :label="$t('Double')"
                                placeholder="1,2,3..." />
                        </div>
                        <div v-if="types.includes('bugy')" class="mb-6">
                            <div class="mb-3">
                                <label>{{$t('Bugies')}}</label>
                            </div>
                            <vs-input v-model="bugysingle" class="mb-6 w-full" :label="$t('Single')"
                                placeholder="1,2,3..." />
                            <vs-input v-model="bugydouble" class="mb-6 w-full" :label="$t('Double')"
                                placeholder="1,2,3..." />
                            <vs-input v-model="bugy4" class="mb-6 w-full" :label="$t('4*4')" placeholder="1,2,3..." />
                        </div>
                        <vs-textarea :label="$t('Notes')" v-model="notes" class="mt-6 mb-6" />
                        <div class=" flex justify-around">
                            <span>{{$t('Price')}}: {{price}}</span>
                            <span>{{$t('Total')}}: {{total}}</span>
                        </div>
                    </div>
                </VuePerfectScrollbar>

                <div class="flex flex-wrap items-center p-6" slot="footer">
                    <vs-button class="mr-6" @click="submitData" :disabled="invalid">{{$t('Submit')}}</vs-button>
                    <vs-button type="border" color="danger" @click="isSidebarActiveLocal = false">{{$t('Cancel')}}
                    </vs-button>
                </div>
            </form>
        </ValidationObserver>
    </vs-sidebar>
</template>

<script>
    import VuePerfectScrollbar from "vue-perfect-scrollbar";
    import moduleExcursion from "@/store/excursion/moduleExcursion.js";

    import flatPickr from "vue-flatpickr-component";
    import "flatpickr/dist/flatpickr.css";

    export default {
        props: {
            isSidebarActive: {
                type: Boolean,
                required: true
            },
            data: {
                type: Object,
                default: () => {}
            }
        },
        watch: {
            isSidebarActive(val) {
                if (!val) return;
                if (Object.entries(this.data).length === 0) {
                    this.initValues();
                } else {
                    let {
                        id,
                        date,
                        voucher_id,
                        room_id,
                        trip_id,
                        plus,
                        notes,
                        voucher_code,
                        commission,
                        excursion_vehicle_configs
                    } = JSON.parse(JSON.stringify(this.data));
                    this.id = id;
                    this.date = date;
                    this.voucher_id = voucher_id;
                    this.room_id = room_id;
                    this.comission = commission;
                    this.plus = plus;
                    this.trip_id = trip_id;
                    this.notes = notes;
                    this.excursion_vehicle_configs = excursion_vehicle_configs;
                    this.initValues();
                }
                // Object.entries(this.data).length === 0 ? this.initValues() : { this.id, this.dataName, this.dataCategory, this.dataOrder_status, this.dataPrice } = JSON.parse(JSON.stringify(this.data))
            }
        },
        data() {
            return {
                serverErrors:[],
                trip_id: "",
                quadsingle: "",
                quaddouble: "",
                bugysingle: "",
                notes:"",
                bugydouble: "",
                bugy4: "",
                types: [],
                total: 100,
                price: 100,
                room: "",
                hotel_id: "",
                date: null,
                vehicleCounts: [{
                    type: null,
                    count: 1
                }],
                avehicels: [{
                    value: ""
                }],
                id: null,
                voucher_id: null,
                room_id: null,
                commission: null,
                
                plus: null,
                notes: null,
                excursion_vehicle_configs: null,

                commission: null,
                isMounted: false,
                settings: {
                    // perfectscrollbar settings
                    maxScrollbarLength: 60,
                    wheelSpeed: 0.6
                }
            };
        },
        computed: {
            isSidebarActiveLocal: {
                get() {
                    return this.isSidebarActive;
                },
                set(val) {
                    if (!val) {
                        this.$emit("closeSidebar");
                        this.initValues();
                    }
                }
            },
            commissionSum() {
                if (!this.dataVehiclelId) {
                    return 0;
                }
                var total = 0;
                var typeWithPrice;
                this.vehicleCounts.forEach(element => {
                    if (element.type) {
                        typeWithPrice = element.type.vehicle_types.find((item, key) => {
                            return item.pivot.vehicle_type_id == this.dataVehiclelId.type_id;
                        });
                        if (typeWithPrice) {
                            total += Number(element.count) * typeWithPrice.pivot.price;
                        } else {
                            total = 0;
                        }
                    } else {
                        total = 0;
                    }
                });
                if (typeWithPrice) {
                    return total;
                } else {
                    return 0;
                }
            },
            ctreateItems() {
                return this.$store.state.excursion.excursionCreate;
            },
            findItems() {
                return this.$store.state.excursion.excursionFind;
            },
            listitems() {
                return this.$store.state.excursion.lists;
            }
        },
        methods: {
            addParent() {
                this.vehicleCounts.push({
                    type: "",
                    count: 1
                });
            },
            removParent(vehicleCount) {
                this.vehicleCounts.splice(this.vehicleCounts.indexOf(vehicleCount), 1);
            },
            initValues() {
                if (this.data.id) return;
                this.id = null;
                this.date = null;
                this.voucher_id = null;
                this.room_id = null;
                this.comission = null;
                this.plus = null;
                this.trip_id = null;
                this.notes = null;
                this.excursion_vehicle_configs = null;
            },
            submitData() {
                const obj = {
                    id: this.id,
                    date: this.date,
                    voucher_id: this.voucher_id,
                    room_id: this.room_id,
                    plus: this.plus,
                    trip_id: this.trip_id,
                    notes: this.notes,
                    excursion_vehicle_configs: this.excursion_vehicle_configs
                };

                if (this.id !== null && this.id >= 0) {
                    this.$store.dispatch("excursion/updateItem", obj)  
                        .then(res => {
                        this.$emit('closeSidebar')
                    })
                    .catch(err => {
                        this.serverErrors = Object.values(err.response.data.errors)
                    })
                } else {
                    delete obj.id;
                    this.$store.dispatch("excursion/addItem", obj)  
                        .then(res => {
                        this.$emit('closeSidebar')
                    })
                    .catch(err => {
                        this.serverErrors = Object.values(err.response.data.errors)
                    })
                }

              
                this.initValues();
                this.$store.dispatch("excursion/fetchDataListItems")
            },
            changeVehicle(e) {
                this.$store.dispatch("excursion/findExcursionItem", e.type_id);
            }
        },
        components: {
            VuePerfectScrollbar,
            flatPickr
        },
        created() {
            if (!moduleExcursion.isRegistered) {
                this.$store.registerModule("excursion", moduleExcursion);
                moduleExcursion.isRegistered = true;
            }
        },
        mounted() {
            this.isMounted = true;
        }
    };

</script>

<style lang="scss" scoped>
    .add-new-data-sidebar {
        ::v-deep .vs-sidebar--background {
            z-index: 52010;
        }

        ::v-deep .vs-sidebar {
            z-index: 52010;
            width: 400px;
            max-width: 90vw;

            .img-upload {
                margin-top: 2rem;

                .con-img-upload {
                    padding: 0;
                }

                .con-input-upload {
                    width: 100%;
                    margin: 0;
                }
            }
        }
    }

    .scroll-area--data-list-add-new {
        // height: calc(var(--vh, 1vh) * 100 - 4.3rem);
        height: calc(var(--vh, 1vh) * 100 - 16px - 45px - 82px);
    }

</style>
