<!-- =========================================================================================
  File Name: AddNewDataSidebar.vue
  Description: Add New Data - Sidebar component
========================================================================================== -->

<template>
    <vs-sidebar click-not-close position-right parent="body" default-index="1" color="primary"
        class="add-new-data-sidebar items-no-padding" spacer v-model="isSidebarActiveLocal">
        <div class="mt-6 flex items-center justify-between px-6">
            <h4>{{ Object.entries(this.data).length === 0 ? $t("AddNew", { attribute: $t('Hotel') }) : $t("Update", { attribute: $t('Hotel') }) }}</h4>
            <feather-icon icon="XIcon" @click.stop="isSidebarActiveLocal = false" class="cursor-pointer"></feather-icon>
        </div>
        <vs-divider class="mb-0"></vs-divider>

        <ValidationObserver v-slot="{ handleSubmit, invalid }">
            <form @submit.prevent="handleSubmit(submitData)">
            <VuePerfectScrollbar class="scroll-area--data-list-add-new" :settings="settings" :key="$vs.rtl">



                <div class="p-6">
                    <!-- NAME -->
                    <ValidationProvider tag="div" class="mb-6" name="name" rules="required" v-slot="{ errors }">
                        <vs-input :label="$t('Name')" v-model="dataName" class="w-full" name="item-name" />
                        <span class="text-danger text-sm">{{ errors[0] }}</span>
                    </ValidationProvider>




                </div>

            </VuePerfectScrollbar>

            <div class="flex flex-wrap items-center p-6" slot="footer">
                <vs-button class="mr-6" @click="submitData" :disabled="invalid">{{$t('Submit')}}</vs-button>
                <vs-button type="border" color="danger" @click="isSidebarActiveLocal = false">{{$t('Cancel')}}</vs-button>
            </div>


        </form>
</ValidationObserver>

    </vs-sidebar>
</template>

<script>
    import VuePerfectScrollbar from 'vue-perfect-scrollbar'
    import moduleHotel from "@/store/hotel/moduleHotel.js"

    export default {
        props: {
            isSidebarActive: {
                type: Boolean,
                required: true
            },
            data: {
                type: Object,
                default: () => {},
            }
        },
        watch: {
            isSidebarActive(val) {
                if (!val) return
                if (Object.entries(this.data).length === 0) {
                    this.initValues()
                } else {
                    let {
                        id,
                        name,
                        accounts_count
                    } = JSON.parse(JSON.stringify(this.data))
                    this.dataId = id
                    this.dataName = name
                    this.dataAccounts = accounts_count
                    this.initValues()
                }
                // Object.entries(this.data).length === 0 ? this.initValues() : { this.dataId, this.dataName, this.dataCategory, this.dataOrder_status, this.dataPrice } = JSON.parse(JSON.stringify(this.data))
            }
        },
        data() {
            return {

                dataId: null,
                dataName: "",
                dataNumber: null,
                dataHotelId: null,
                isMounted: false,
                settings: { // perfectscrollbar settings
                    maxScrollbarLength: 60,
                    wheelSpeed: .60,
                },
            }
        },
        computed: {
            isSidebarActiveLocal: {
                get() {
                    return this.isSidebarActive
                },
                set(val) {
                    if (!val) {
                        this.$emit('closeSidebar')
                        this.initValues()
                    }
                }
            },
            hotels() {
                return this.$store.state.hotel.hotelCreate
            },
        },
        methods: {
            initValues() {
                if (this.data.id) return
                this.dataId = null
                this.dataName = ""
                this.dataNumber = ""
                this.dataHotelId = ""
            },
            submitData() {
                const obj = {
                    id: this.dataId,
                    name: this.dataName,
                    number: this.dataNumber,
                    hotel_id: this.dataHotelId
                }

                if (this.dataId !== null && this.dataId >= 0) {
                    this.$store.dispatch("hotel/updateItem", obj).catch(err => {
                        console.error(err)
                    })
                } else {
                    delete obj.id
                    this.$store.dispatch("hotel/addItem", obj).catch(err => {
                        console.error(err)
                    })
                }

                this.$emit('closeSidebar')
                this.initValues()
                this.$store.dispatch("hotel/fetchDataListItems")
            },
        },
        components: {
            VuePerfectScrollbar,
        },
        created() {
            // if (!moduleHotel.isRegistered) {
            //     this.$store.registerModule('hotel', moduleHotel)
            //     moduleHotel.isRegistered = true
            // }
        },
        mounted() {
            this.isMounted = true
        }
    }

</script>

<style lang="scss" scoped>
    .add-new-data-sidebar {
        ::v-deep .vs-sidebar--background {
            z-index: 52010;
        }

        ::v-deep .vs-sidebar {
            z-index: 52010;
            width: 400px;
            max-width: 90vw;

            .img-upload {
                margin-top: 2rem;

                .con-img-upload {
                    padding: 0;
                }

                .con-input-upload {
                    width: 100%;
                    margin: 0;
                }
            }
        }
    }

    .scroll-area--data-list-add-new {
        // height: calc(var(--vh, 1vh) * 100 - 4.3rem);
        height: calc(var(--vh, 1vh) * 100 - 16px - 45px - 82px);
    }

</style>
