<!-- =========================================================================================
  File Name: AddNewDataSidebar.vue
  Description: Add New Data - Sidebar component
========================================================================================== -->

<template>
  <vs-sidebar
    click-not-close
    position-right
    parent="body"
    default-index="1"
    color="primary"
    class="add-new-data-sidebar items-no-padding"
    spacer
    v-model="isSidebarActiveLocal"
  >
    <div class="mt-6 flex items-center justify-between px-6">
      <h4>{{ Object.entries(this.data).length === 0 ? $t('AddNew', { attribute: $t('Vehicle') }) : $t('Updata', { attribute: $t('Vehicle') })}}</h4>
      <feather-icon icon="XIcon" @click.stop="isSidebarActiveLocal = false" class="cursor-pointer"></feather-icon>
    </div>
    <vs-divider class="mb-0"></vs-divider>

    <ValidationObserver v-slot="{ handleSubmit, invalid }">
            <form @submit.prevent="handleSubmit(submitData)">
      <VuePerfectScrollbar
        class="scroll-area--data-list-add-new"
        :settings="settings"
        :key="$vs.rtl"
      >
        <div class="p-6">
            <vs-alert class="mb-6" :active="serverErrors.length > 0" v-for="(item, index) in serverErrors"
                            :key="index" color="danger" icon-pack="feather" icon="icon-info">
                            <span>{{item[0]}}</span>
                        </vs-alert>
          <!-- Number -->
          <ValidationProvider tag="div" class="mb-6"  name="number" rules="required" v-slot="{ errors }">
            <vs-input :label="$t('Number')" v-model="dataNumber" class="w-full" name="item-number" />
            <span class="text-danger text-sm">{{ errors[0] }}</span>
          </ValidationProvider>

          <!-- Vehicle Type -->
          <ValidationProvider tag="div" class="mb-6" name="type_id" rules="required|numeric" v-slot="{ errors }">
            <vs-select
              v-model="dataTypeId"
              autocomplete
              :label="$t('VehicleType')"
              class="w-full"
              name="item-type"
            >
              <vs-select-item
                :key="item.id"
                :value="item.id"
                :text="item.name"
                v-for="item in vehicle_types.vehicleTypes"
              />
            </vs-select>
            <span class="text-danger text-sm">{{ errors[0] }}</span>
          </ValidationProvider>

          <!-- Driver Name -->
          <ValidationProvider tag="div" class="mb-6" name="driver_name" rules="required|numeric" v-slot="{ errors }">
            <vs-select
              v-model="dataDriverId"
              autocomplete
              :label="$t('DriverName')"
              class="w-full"
              name="item-driver-name"
            >
              <vs-select-item
                :key="item.id"
                :value="item.id"
                :text="item.name"
                v-for="item in vehicle_types.drivers"
              />
            </vs-select>
            <span class="text-danger text-sm">{{ errors[0] }}</span>
          </ValidationProvider>


          <!-- Licence Number -->
          <ValidationProvider tag="div" class="mb-6" name="licence_id" rules="required" v-slot="{ errors }">
            <vs-input :label="$t('LicenceId')" v-model="dataLicenceId" class="w-full" name="item-licence_id" />
            <span class="text-danger text-sm">{{ errors[0] }}</span>
          </ValidationProvider>
          <!--  <ValidationProvider name="licence_id" rules="required|numeric" v-slot="{ errors }">
           <vs-select
              v-model="dataLicenceId"
              autocomplete
              :label="$t('LicenceNumber')"
              class="mt-5 w-full"
              name="item-licence"
            >
              <vs-select-item
                :key="item.id"
                :value="item.id"
                :text="item.number"
                v-for="item in vehicle_types.licences"
              />
            </vs-select>
            <span class="text-danger text-sm">{{ errors[0] }}</span>
          </ValidationProvider> -->
        </div>

      </VuePerfectScrollbar>

      <div class="flex flex-wrap items-center p-6" slot="footer">
        <vs-button class="mr-6" @click="submitData" :disabled="invalid">{{$t('Submit')}}</vs-button>
        <vs-button type="border" color="danger" @click="isSidebarActiveLocal = false">{{$t('Cancel')}}</vs-button>
      </div>
    </form>
</ValidationObserver>
  </vs-sidebar>
</template>

<script>
import VuePerfectScrollbar from "vue-perfect-scrollbar";
import moduleVehicle from "@/store/vehicle/moduleVehicle.js";

export default {
  props: {
    isSidebarActive: {
      type: Boolean,
      required: true
    },
    data: {
      type: Object,
      default: () => {}
    }
  },
  watch: {
    isSidebarActive(val) {
      if (!val) return;
      if (Object.entries(this.data).length === 0) {
        this.initValues();
      } else {
        let { id, number, type_id, driver_id, licence_id } = JSON.parse(JSON.stringify(this.data));
        this.dataId = id;
        this.dataNumber = number;
        this.dataTypeId = type_id;
        this.dataDriverId = driver_id;
        this.dataLicenceId = licence_id;
        this.initValues();
      }
      // Object.entries(this.data).length === 0 ? this.initValues() : { this.dataId, this.dataName, this.dataCategory, this.dataOrder_status, this.dataPrice } = JSON.parse(JSON.stringify(this.data))
    }
  },
  data() {
    return {
      serverErrors:[],
      dataId: null,
      dataNumber: null,
      dataTypeId:null,
      dataDriverId: null,
      dataLicenceId: null,
      isMounted: false,
      settings: {
        // perfectscrollbar settings
        maxScrollbarLength: 60,
        wheelSpeed: 0.6
      }
    };
  },
  computed: {
    isSidebarActiveLocal: {
      get() {
        return this.isSidebarActive;
      },
      set(val) {
        if (!val) {
          this.$emit("closeSidebar");
          this.initValues();
        }
      }
    },
      vehicle_types() {
      return this.$store.state.vehicle.vehicleCreate;
    }
  },
  methods: {
    initValues() {
      if (this.data.id) return;
      this.dataId = null;
      this.dataNumber = null;
      this.dataTypeId = null;
      this.dataDriverId = null;
      this.dataLicenceId = null;
    },
    submitData() {
      const obj = {
        id: this.dataId,
        number: this.dataNumber,
        type_id: this.dataTypeId,
        driver_id: this.dataDriverId,
        licence_id: this.dataLicenceId
      };
    console.log(obj)
      if (this.dataId !== null && this.dataId >= 0) {
        this.$store.dispatch("vehicle/updateItem", obj)    
          .then(res => {
                        this.$emit('closeSidebar')
                    })
                    .catch(err => {
                        this.serverErrors = Object.values(err.response.data.errors)
                    })
      } else {
        delete obj.id;
        this.$store.dispatch("vehicle/addItem", obj)     
         .then(res => {
                        this.$emit('closeSidebar')
                    })
                    .catch(err => {
                        this.serverErrors = Object.values(err.response.data.errors)
                    })
      }

     
      this.initValues();
    },
  },
  components: {
    VuePerfectScrollbar
  },
  created() {
    if (!moduleVehicle.isRegistered) {
        this.$store.registerModule('vehicle', moduleVehicle)
        moduleVehicle.isRegistered = true
    }
    this.$store.dispatch("vehicle/createVehicleItems");
  },
  mounted() {
    this.isMounted = true;
  }
};
</script>

<style lang="scss" scoped>
.add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52010;
  }

  ::v-deep .vs-sidebar {
    z-index: 52010;
    width: 400px;
    max-width: 90vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
  // height: calc(var(--vh, 1vh) * 100 - 4.3rem);
  height: calc(var(--vh, 1vh) * 100 - 16px - 45px - 82px);
}
</style>
